In [118]:
import pandas as pd
import numpy as np

In [119]:
df = pd.read_csv("/Users/grace/Desktop/FL_insurance_sample.csv", header=0)
#header = 0 or the result df will have no field names

In [120]:
#shape: gives the axis dimensions of the object, consistent with ndarray
df.shape

(36634, 18)

In [121]:
subset_0 = df.iloc[:, :4]

In [122]:
subset_0.describe()

            policyID  eq_site_limit
count   36634.000000   3.663400e+04
mean   548661.937189   7.314780e+05
std    259912.926494   1.752300e+07
min    100074.000000   0.000000e+00
25%    323647.750000   0.000000e+00
50%    548525.000000   0.000000e+00
75%    774252.000000   0.000000e+00
max    999971.000000   2.160000e+09

In [123]:
#find the data contains missing data indicated by 'NA'
df2 = pd.read_csv("/Users/grace/Desktop/FL_insurance_sample.csv", header=0, na_values=['NA'])

In [124]:
#You can find all the rows where a specific column holds NaN values as follows
#construction is a field name
# df[pd.isnull(df['construction'])]

subset

In [125]:
#get the first 100 observations (rows)
subset_1 = df.iloc[:100, :]

In [126]:
subset_1.shape

(100, 18)

In [127]:
# get the first 15 variables (columns)
subset_2 = df.iloc[:, :15]

In [128]:
subset_2.shape

(36634, 15)

Transform data

In [129]:
#Remove duplicates, if any (in this case not)
df_no_duplicate = df.drop_duplicates()

In [130]:
df_no_duplicate.shape

(36634, 18)

Discretization and binning

In [131]:
#Set up serveral bins(groups)

In [132]:
subset_bin = df.iloc[:10, :10]
subset_bin

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0

In [133]:
bins = [0, 300000, 600000, 900000, 1000000]
subset_bin["eq_site_limit"] = pd.cut(subset_bin["eq_site_limit"], bins)
subset_bin

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible
0,119736,FL,CLAY COUNTY,"(300000, 600000]",498960.00,498960.0,498960.0,498960.00,792148.90,0.0
1,448094,FL,CLAY COUNTY,NaN,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0
2,206893,FL,CLAY COUNTY,"(0, 300000]",190724.40,190724.4,190724.4,190724.40,192476.78,0.0
3,333743,FL,CLAY COUNTY,NaN,79520.76,0.0,0.0,79520.76,86854.48,0.0
4,172534,FL,CLAY COUNTY,NaN,254281.50,0.0,254281.5,254281.50,246144.49,0.0
5,785275,FL,CLAY COUNTY,NaN,515035.62,0.0,0.0,515035.62,884419.17,0.0
6,995932,FL,CLAY COUNTY,NaN,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0
7,223488,FL,CLAY COUNTY,"(300000, 600000]",328500.00,328500.0,328500.0,328500.00,348374.25,0.0
8,433512,FL,CLAY COUNTY,"(300000, 600000]",315000.00,315000.0,315000.0,315000.00,265821.57,0.0
9,142071,FL,CLAY COUNTY,"(600000, 900000]",705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0

Working with Missing data

In [134]:
#Creating missing data by adding a new column with None
subset_none = df.iloc[:8, :4]
subset_none["isCritical"] = np.nan
subset_none["binarythreshold"] = np.nan
subset_none

   policyID statecode       county  eq_site_limit  isCritical  binarythreshold
0    119736        FL  CLAY COUNTY       498960.0         NaN              NaN
1    448094        FL  CLAY COUNTY      1322376.3         NaN              NaN
2    206893        FL  CLAY COUNTY       190724.4         NaN              NaN
3    333743        FL  CLAY COUNTY            0.0         NaN              NaN
4    172534        FL  CLAY COUNTY            0.0         NaN              NaN
5    785275        FL  CLAY COUNTY            0.0         NaN              NaN
6    995932        FL  CLAY COUNTY            0.0         NaN              NaN
7    223488        FL  CLAY COUNTY       328500.0         NaN              NaN

In [135]:
#change the whole row into None: subset_bin.loc[5] = None
#Change only one cell into None -> df['y'] = df['y'].replace({'N/A': np.nan})
subset_none['binarythreshold'] = subset_none['binarythreshold'].replace({np.nan: 1.0})
subset_none

   policyID statecode       county  eq_site_limit  isCritical  binarythreshold
0    119736        FL  CLAY COUNTY       498960.0         NaN              1.0
1    448094        FL  CLAY COUNTY      1322376.3         NaN              1.0
2    206893        FL  CLAY COUNTY       190724.4         NaN              1.0
3    333743        FL  CLAY COUNTY            0.0         NaN              1.0
4    172534        FL  CLAY COUNTY            0.0         NaN              1.0
5    785275        FL  CLAY COUNTY            0.0         NaN              1.0
6    995932        FL  CLAY COUNTY            0.0         NaN              1.0
7    223488        FL  CLAY COUNTY       328500.0         NaN              1.0

In [136]:
#DataFrame.fillna() will replace NaN with 0
#replace one column -> df[1].fillna(0, inplace=True)
#replace all NaN into 0.0
subset_none = subset_none.fillna(0.0)
subset_none

   policyID statecode       county  eq_site_limit  isCritical  binarythreshold
0    119736        FL  CLAY COUNTY       498960.0         0.0              1.0
1    448094        FL  CLAY COUNTY      1322376.3         0.0              1.0
2    206893        FL  CLAY COUNTY       190724.4         0.0              1.0
3    333743        FL  CLAY COUNTY            0.0         0.0              1.0
4    172534        FL  CLAY COUNTY            0.0         0.0              1.0
5    785275        FL  CLAY COUNTY            0.0         0.0              1.0
6    995932        FL  CLAY COUNTY            0.0         0.0              1.0
7    223488        FL  CLAY COUNTY       328500.0         0.0              1.0

Detect and filter outliers: e.g. 9999999-> upper bound

In [137]:
subset_outlier = df.iloc[:10, [0, 1, 2, 4, 5, 6]]
subset_outlier

,policyID,statecode,county,hu_site_limit,fl_site_limit,fr_site_limit
0,119736,FL,CLAY COUNTY,498960.00,498960.0,498960.0
1,448094,FL,CLAY COUNTY,1322376.30,1322376.3,1322376.3
2,206893,FL,CLAY COUNTY,190724.40,190724.4,190724.4
3,333743,FL,CLAY COUNTY,79520.76,0.0,0.0
4,172534,FL,CLAY COUNTY,254281.50,0.0,254281.5
5,785275,FL,CLAY COUNTY,515035.62,0.0,0.0
6,995932,FL,CLAY COUNTY,19260000.00,0.0,0.0
7,223488,FL,CLAY COUNTY,328500.00,328500.0,328500.0
8,433512,FL,CLAY COUNTY,315000.00,315000.0,315000.0
9,142071,FL,CLAY COUNTY,705600.00,705600.0,705600.0

In [138]:
#fill the upper bound
subset_outlier["hu_site_limit"][6] = 9999999
subset_outlier

,policyID,statecode,county,hu_site_limit,fl_site_limit,fr_site_limit
0,119736,FL,CLAY COUNTY,498960.00,498960.0,498960.0
1,448094,FL,CLAY COUNTY,1322376.30,1322376.3,1322376.3
2,206893,FL,CLAY COUNTY,190724.40,190724.4,190724.4
3,333743,FL,CLAY COUNTY,79520.76,0.0,0.0
4,172534,FL,CLAY COUNTY,254281.50,0.0,254281.5
5,785275,FL,CLAY COUNTY,515035.62,0.0,0.0
6,995932,FL,CLAY COUNTY,9999999.00,0.0,0.0
7,223488,FL,CLAY COUNTY,328500.00,328500.0,328500.0
8,433512,FL,CLAY COUNTY,315000.00,315000.0,315000.0
9,142071,FL,CLAY COUNTY,705600.00,705600.0,705600.0

In [139]:
#filter the outlier

In [140]:
#Percentiles must be in the range [0,100]
q75, q25 = np.percentile(subset_outlier["hu_site_limit"],[75, 25])
print"q75=" +  q75
print'q25' q25
lower, upper = q25 - 1.5 * (q75 - q25), q75 + 1.5 * (q75 - q25)
subset_outlier["hu_site_limit"][subset_outlier["hu_site_limit"] > upper] = upper
subset_outlier

SyntaxError: invalid syntax (<ipython-input-140-fdd8fcd54de2>, line 3)

Merge two data sets

In [ ]:
#subset_1 is the first 10 observations with first col 0-5;
subset_1 = df.iloc[:2, :5]

In [ ]:
#check subset_1
subset_1

In [ ]:
#subset_2 is the first 10 observations with col 1, 3, 5, 7
subset_2 = df.iloc[:2, [0, 1, 3, 5, 7]]

In [ ]:
subset_2

In [ ]:
subset_merged = pd.merge(subset_1, subset_2, on = df.columns[1])

In [ ]:
#merge is more like join
subset_merged

In [ ]:
subset_merged.shape

Rename field names

In [ ]:
#Rename variables: eq_site_limit_x->eq_site_limit, policyID_x -> policyID
merged_renamed = subset_merged.rename(columns={"eq_site_limit_x": "eq_site_limit", "policyID_x": "policyID"})
merged_renamed