In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/grace/Desktop/FL_insurance_sample.csv", header=0)
#header = 0 or the result df will have no field names

In [3]:
#shape: gives the axis dimensions of the object, consistent with ndarray
df.shape

(36634, 18)

In [4]:
subset_0 = df.iloc[:, :4]

In [5]:
subset_0.describe()

            policyID  eq_site_limit
count   36634.000000   3.663400e+04
mean   548661.937189   7.314780e+05
std    259912.926494   1.752300e+07
min    100074.000000   0.000000e+00
25%    323647.750000   0.000000e+00
50%    548525.000000   0.000000e+00
75%    774252.000000   0.000000e+00
max    999971.000000   2.160000e+09

In [6]:
#find the data contains missing data indicated by 'NA'
df2 = pd.read_csv("/Users/grace/Desktop/FL_insurance_sample.csv", header=0, na_values=['NA'])

In [7]:
#You can find all the rows where a specific column holds NaN values as follows
#construction is a field name
# df[pd.isnull(df['construction'])]

subset

In [8]:
#get the first 100 observations (rows)
subset_1 = df.iloc[:100, :]

In [9]:
subset_1.shape

(100, 18)

In [10]:
# get the first 15 variables (columns)
subset_2 = df.iloc[:, :15]

In [11]:
subset_2.shape

(36634, 15)

Transform data

In [12]:
#Remove duplicates, if any (in this case not)
df_no_duplicate = df.drop_duplicates()

In [13]:
df_no_duplicate.shape

(36634, 18)

Discretization and binning

In [14]:
#Set up serveral bins(groups)

In [15]:
subset_bin = df.iloc[:10, :10]
subset_bin

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0
5,785275,FL,CLAY COUNTY,0.0,515035.62,0.0,0.0,515035.62,884419.17,0.0
6,995932,FL,CLAY COUNTY,0.0,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0
7,223488,FL,CLAY COUNTY,328500.0,328500.00,328500.0,328500.0,328500.00,348374.25,0.0
8,433512,FL,CLAY COUNTY,315000.0,315000.00,315000.0,315000.0,315000.00,265821.57,0.0
9,142071,FL,CLAY COUNTY,705600.0,705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0

In [16]:
bins = [0, 300000, 600000, 900000, 1000000]
subset_bin["eq_site_limit"] = pd.cut(subset_bin["eq_site_limit"], bins)
subset_bin

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible
0,119736,FL,CLAY COUNTY,"(300000, 600000]",498960.00,498960.0,498960.0,498960.00,792148.90,0.0
1,448094,FL,CLAY COUNTY,NaN,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0
2,206893,FL,CLAY COUNTY,"(0, 300000]",190724.40,190724.4,190724.4,190724.40,192476.78,0.0
3,333743,FL,CLAY COUNTY,NaN,79520.76,0.0,0.0,79520.76,86854.48,0.0
4,172534,FL,CLAY COUNTY,NaN,254281.50,0.0,254281.5,254281.50,246144.49,0.0
5,785275,FL,CLAY COUNTY,NaN,515035.62,0.0,0.0,515035.62,884419.17,0.0
6,995932,FL,CLAY COUNTY,NaN,19260000.00,0.0,0.0,19260000.00,20610000.00,0.0
7,223488,FL,CLAY COUNTY,"(300000, 600000]",328500.00,328500.0,328500.0,328500.00,348374.25,0.0
8,433512,FL,CLAY COUNTY,"(300000, 600000]",315000.00,315000.0,315000.0,315000.00,265821.57,0.0
9,142071,FL,CLAY COUNTY,"(600000, 900000]",705600.00,705600.0,705600.0,705600.00,1010842.56,14112.0

Working with Missing data

In [17]:
#DataFrame.fillna() will replace NaN with 0
# replace one column -> df[1].fillna(0, inplace=True)
#subset_bin_replaced1 = subset_bin.fillna(0)
#subset_bin_replaced1

Merge two data sets

In [18]:
#subset_1 is the first 10 observations with first col 0-5;
subset_1 = df.iloc[:2, :5]

In [19]:
#check subset_1
subset_1

   policyID statecode       county  eq_site_limit  hu_site_limit
0    119736        FL  CLAY COUNTY       498960.0       498960.0
1    448094        FL  CLAY COUNTY      1322376.3      1322376.3

In [20]:
#subset_2 is the first 10 observations with col 1, 3, 5, 7
subset_2 = df.iloc[:2, [0, 1, 3, 5, 7]]

In [21]:
subset_2

   policyID statecode  eq_site_limit  fl_site_limit   tiv_2011
0    119736        FL       498960.0       498960.0   498960.0
1    448094        FL      1322376.3      1322376.3  1322376.3

In [22]:
subset_merged = pd.merge(subset_1, subset_2, on = df.columns[1])

In [23]:
#merge is more like join
subset_merged

,policyID_x,statecode,county,eq_site_limit_x,hu_site_limit,policyID_y,eq_site_limit_y,fl_site_limit,tiv_2011
0,119736,FL,CLAY COUNTY,498960.0,498960.0,119736,498960.0,498960.0,498960.0
1,119736,FL,CLAY COUNTY,498960.0,498960.0,448094,1322376.3,1322376.3,1322376.3
2,448094,FL,CLAY COUNTY,1322376.3,1322376.3,119736,498960.0,498960.0,498960.0
3,448094,FL,CLAY COUNTY,1322376.3,1322376.3,448094,1322376.3,1322376.3,1322376.3

In [24]:
subset_merged.shape

(4, 9)

Rename field names

In [25]:
#Rename variables: eq_site_limit_x->eq_site_limit, policyID_x -> policyID
merged_renamed = subset_merged.rename(columns={"eq_site_limit_x": "eq_site_limit", "policyID_x": "policyID"})
merged_renamed

,policyID,statecode,county,eq_site_limit,hu_site_limit,policyID_y,eq_site_limit_y,fl_site_limit,tiv_2011
0,119736,FL,CLAY COUNTY,498960.0,498960.0,119736,498960.0,498960.0,498960.0
1,119736,FL,CLAY COUNTY,498960.0,498960.0,448094,1322376.3,1322376.3,1322376.3
2,448094,FL,CLAY COUNTY,1322376.3,1322376.3,119736,498960.0,498960.0,498960.0
3,448094,FL,CLAY COUNTY,1322376.3,1322376.3,448094,1322376.3,1322376.3,1322376.3